doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Resume
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom fonts for this template
  link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet')
  link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='css/resume.min.css' rel='stylesheet')
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  a.navbar-brand.js-scroll-trigger(href='#page-top')
    span.d-block.d-lg-none David M Williams
    span.d-none.d-lg-block
      img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='img/profile.jpg' alt='')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link.js-scroll-trigger(href='/') Home
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#about') About
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#experience') Experience
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#education') Education
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#skills') Skills
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#interests') Interests
      li.nav-item
        a.nav-link.js-scroll-trigger(href='#awards') Awards
.container-fluid.p-0
  section#about.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
      h1.mb-0
        | David
        span.text-primary Williams
      .subheading.mb-5
        |
        a(href='mailto:dmwilliams.tech@gmail.com') dmwilliams.tech@gmail.com
      p.lead.mb-5
        | Results-oriented technology trailblazer with experience managing complex IT solution designs utilizing multiple development languages. Leveraging over 12 years of development experience and infrastructure expertise to drive business development, system efficiency and customer-focused success.
      .social-icons
        a(href='#')
          i.fab.fa-linkedin-in
        a(href='#')
          i.fab.fa-github
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-facebook-f
  hr.m-0
  section#experience.resume-section.p-3.p-lg-5.d-flex.justify-content-center
    .w-100
      h2.mb-5 Experience
      .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .resume-content
          h3.mb-0 Chief, Product Engineering
          .subheading.mb-3 Defense Information System Agency
          p
            | Performed difficult technical assignment with respect to defining tasks, planning milestones, costing products and resolving resource and schedule allocation needs for multiple DoD applications. 
          p
            | Spearheaded $10M+ Business Enterprise Integration effort which involved the modernization of multiple DoD applications (DISA Storefront, IDEAS & TIBI and DISA financial systems)
          p
            | Aligned DISA Storefront (DSF) with DoD Business Enterprise Architecture (BEA) and support Defense Procurement Acquisition Policy (DPAP) compliance within the DISA Business Systems Architecture. DISA is deploying a modern DWCF financial system which will align with DoD BEA and DPAP. As the single point of entry for DISA services, DSF is the primary inject point for all DISA service orders and must integrate with DISA financial and contracting systems.
          p
            | Established automated configuration management & release management pipeline, defined new roles along with Build Engineering teams focused on the Continuous integration, continuous delivery of application releases in support the War-fighter and DoD mission critical services, leveraging agile development and product management practices to define and manage innovative initiatives focused on improving customer experience, scalability and team development.
          p
            | Architected and managed DISA Business Systems migration to Defense Intelligence Information Enterprise (DI2E) which is a SaaS solution which provides a suite of collaboration tools aimed to improve project collaboration, build & test automation and document & artifact repository.
          p
            | Coordinated and led requirement gathering meetings with stakeholders, various DISA divisions and multiple DoD agencies (DLA, DPAP, DoD Comptroller, DoD CIO) to finalize requirements and ensure teams are able to prepare design documents and successfully complete effort.
          p
            | Initiated & provide oversight to (DISA) Mission & Data Analysis, Assessment & Planning, and Strategic Implementation (DMAS) which aimed to assess business requirements across the agency’s financial systems to further modernize (beyond the recently deployed FAMIS-WCF) by performing Business Process Reengineering (BPR) analysis to identify potential areas for improvement and/or consolidation to reduce functional overlaps of financial systems, and develop a strategy to implement.
          p
            | Oversaw & advised $2M Enterprise Business Systems Modernization (EBSM) contract which is responsible for Enterprise Architecture, Data Management & Governance and design and maintenance of DevSecOps pipeline. Defined architecture strategy for DevOps and Agile transformation for Defense Information Systems Agency
          p
            | Defined, developed and implemented solution which optimized system access request by  significantly increasing efficiency and decreasing cost, time and resources required by performing BPR, and implemented automated process into DISA Storefront and ESPS (Service Request, DD2875(system and application access), order entry and compliant contracting). 
          p
            | Led $24M project to deploy new financial system for working capital fund (FAMIS-WCF) which allows for the decommissioning of 9 financial applications with redundant functionality and expensive O&M cost.
          p 
            |  Implemented Atlassian tools and technologies to support collaboration (between development teams, system integrations teams, security teams and customers) and automation between teams, drive improved issue tracking, and documentation.
          p
            |  Oversaw the full portfolio of DISA Enterprise Business Systems and ensured all applications (and modernizations strategies) align to Department of Defense & DISA goals.
          p
            |  Led and coordinated the modernization of multiple DISA legacy applications which led to the implementation of ServiceNow as a uniform SaaS capability which aligns to DISAs long-term strategy.
          p
            |  Supervised technical leads, solution architects, software developers, business analysts, configuration managers, and system administrator’s responsible managing DISA enterprise business systems. 
          p
            |  Oversaw and managed the migration of 8 ECO hosted DISA business systems to the revamped DISA Cloud environment (MilCloud 2.0)
        .resume-date.text-md-right
          span.text-primary March 2018 - Present
      .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .resume-content
          h3.mb-0 Chief Engineer, DISA Storefront
          .subheading.mb-3 Defense Information SYstems Agency
          p
            | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          p
            | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          p
            | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          p
            | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
        .resume-date.text-md-right
          span.text-primary October 2016 – March 2018
      .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .resume-content
          h3.mb-0 Lead Solution Architect
          .subheading.mb-3 Federal Election Commission
          p
            | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
        .resume-date.text-md-right
          span.text-primary May 2015 – October 2016
      .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
        .resume-content
          h3.mb-0 Lead DevOps Engineer
          .subheading.mb-3 Booz Allen Hamilton
          p
            | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        .resume-date.text-md-right
          span.text-primary October 2014-May 2015
  hr.m-0
  section#education.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
      h2.mb-5 Education
      .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
        .resume-content
          h3.mb-0 Capitol Technology University
          .subheading.mb-3 Bachelor of Science
          div Software Engineering
        .resume-date.text-md-right
          span.text-primary 2012
      //- .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
      //-   .resume-content
      //-     h3.mb-0 James Buchanan High School
      //-     .subheading.mb-3 Technology Magnet Program
      //-     p GPA: 3.56
      //-   .resume-date.text-md-right
      //-     span.text-primary August 2002 - May 2006
  hr.m-0
  section#skills.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
      h2.mb-5 Skills
      .subheading.mb-3 Programming Languages &amp; Tools
      ul.list-inline.dev-icons
        li.list-inline-item
          i.fab.fa-html5
        li.list-inline-item
          i.fab.fa-css3-alt
        li.list-inline-item
          i.fab.fa-js-square
        li.list-inline-item
          i.fab.fa-angular
        li.list-inline-item
          i.fab.fa-react
        li.list-inline-item
          i.fab.fa-node-js
        li.list-inline-item
          i.fab.fa-sass
        li.list-inline-item
          i.fab.fa-less
        li.list-inline-item
          i.fab.fa-wordpress
        li.list-inline-item
          i.fab.fa-gulp
        li.list-inline-item
          i.fab.fa-grunt
        li.list-inline-item
          i.fab.fa-npm
      .subheading.mb-3 Workflow
      ul.fa-ul.mb-0
        li
          i.fa-li.fa.fa-check
          |             Mobile-First, Responsive Design
        li
          i.fa-li.fa.fa-check
          |             Cross Browser Testing &amp; Debugging
        li
          i.fa-li.fa.fa-check
          |             Cross Functional Teams
        li
          i.fa-li.fa.fa-check
          |             Agile Development &amp; Scrum
  hr.m-0
  section#interests.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
      h2.mb-5 Interests
      p
        | Apart from being a techy, I spend time with my family, lifting weights and TOBE.
      p.mb-0
        | TOBE
  hr.m-0
  section#awards.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
      h2.mb-5 Awards &amp; Certifications
      ul.fa-ul.mb-0

      p SECURITY:
        li
          i.fa-li.fa.fa-trophy.text-warning
          |          Cisco Network Professional (CCNP), 2007
        li
          i.fa-li.fa.fa-trophy.text-warning
          |          SANS Security Essentials Bootcamp,2011(Training)
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  SANS Reverse-Engineering Malware: Malware Analysis Tools and Techniques, 2012(Training)
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  SANS Web App Penetration Testing and Ethical Hacker, 2013(Training)
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Security+(Training)
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Cloud Security(Training)

      p    SDLC:
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Oracle Certified Professional, Java 7 SE Programmer, 2013(Training)
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Scrum Master Certified, 2013(Certified): Certificate ID 67081
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  OpenText Troubleshooting , 2015
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  OpenText System and Search Administration, 2015
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Security and Compliance Monitoring with Tenable Security Center, 2015
        li
          i.fa-li.fa.fa-trophy.text-warning
          |  Agile/SAFe for Executives,  2018
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for this template
script(src='js/resume.min.js')
